@include susy-breakpoint(20em, 6) {
  .front-page-quote {
	  font-size: 1em;
	  display: flex;
	  justify-content: center;
	  flex-direction: column;
	  height: inherit;
	  color: $off-white;
	  text-shadow: 2px 2px $black;
	  font-family: $serif;
  }
  
  .front-featured-image {
    position: relative;
    img {
      display: block;
    }
    &:before {
      content: "";
	  display: block;
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  background: rgba(0,0,0, 0.5);
	  transition: all .3s linear;
    }
  }
  
  .front-break-bar {
    display: none;
  }

  .front-page-text {
    position: absolute;
    top: 0;
    left: 0;
    @include span(6);
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5%;
  }
  
  .front-background {
    background-color: $deep-grey;
  }
}

@include susy-breakpoint(48em, 9) {
  .front-page-text {
    @include span(7);
    margin-left: span(1 wide);
    margin-top: 60px;
  }

  .front-page-quote {
	  font-size: 2em;
  }

  .front-break-bar {
    display: block;
    @include full;
    height: 100px;
  }
  
}

@include susy-breakpoint(64em, 12) {
  .front-page-text {
    @include span(8);
    margin-left: span(2 wide);
    margin-top: 100px;
  }
}