@import 'susy';
@import 'normalize';

$susy: (
  global-box-sizing: border-box,
  container: auto,
  columns: 6,
  gutters: .25,
  debug: (image: hide,
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  ),
  use-custom: (
    rem: true,
  ),
);

.site {
  @include container();
  @include susy-breakpoint(20em, 6) {
    @inlcude container(6);
  }
  @include susy-breakpoint(48em, 9) {
    @include container(9);
  }
  @include susy-breakpoint(64em, 12) {
    @include container(12);
  }
  
  min-height: 100%;
}

@include susy-breakpoint(20em, 6) {
  .site-header {
	@include span(6);
	background-color: $deep-grey;
	.nav-button {
	  @include span(1);
	  height: 37px;
	  line-height: 37px;
	}
	.header-logo {
	  @include span(2 last);
	  img {
	    float: right;
	  }
	}
  }

  .site-content {
    @include span(6);
  }
 
  .site-footer {
    @include span(6);
    background-color: $grey;
    color: $black;
    .search-form {
      display: none;
    }
    .copyright {
      @include span(6);
    }
  } 

  #primary {
    @include span(6);
  }
  
  #secondary {
    @include span(6);
  }
}

@include susy-breakpoint(48em, 9) {
  .site-header {
    @include span(9);
    .nav-button {
	  height: 60px;
	  line-height: 60px;
      @include span(1);
    }
    .header-logo {
      @include span(3 last);
    }
  }

  .site-content {
    @include span(9);
  }
 
  .site-footer {
    @include span(9);
    .search-form {
      display: block;
      @include span(4 last);
    }
    .copyright {
      @include span(5);
    }
  } 
  
  #primary {
    @include span(6);
  }
  
  #secondary {
    @include span(3 last);
  }
}

@include susy-breakpoint(64em, 12) {
  .site-header {
    @include span(12);
    .nav-button {
      @include span(1);
    }
    .header-logo {
      @include span(3 last);
    }
  }
  
  .site-content {
    @include span(12);
  }
 
  .site-footer {
    @include span(12);
    .search-form {
      @include span(6 last);
    }
    .copyright {
      @include span(6)
    }
  }
  
  #primary {
    @include span(8);
  }
  
  #secondary {
    @include span(4 last);
  }
}